html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%;
  font: inherit; */
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 15vmin; /* 10height of sticky header */
}
/* html,
body {
  overflow-x: hidden;
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fbfbfb;
  /* overflow-x: hidden; */

  /* padding: 20px; */
}

/* Navigation */
nav {
  top: 0;
  left: 0;
  right: 0;
  height: 10vmin;
  border-bottom: 2px solid black;

  background-color: #3f497f;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}
.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid green; */
  /* width: 100vh; */
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  color: #fbfbfb;
  /* margin-left: 5%; */
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
}
.nav-logo {
  height: 1.2em;
}
.yellow {
  color: #ffc017;
}

nav .navMenu {
  /* border: 1px solid red; */
  /* width: 41vw; */
  display: flex;
  gap: 5vmax;
  /* justify-content: end; */
}
nav .navMenu a {
  font-size: 14px;
}
nav .navMenu .navMenu-cont {
  /* border: 1px solid red; */
  /* width: 10vmax;  */
}
nav .navMenu .navMenu-cont a {
  text-decoration: none;
  margin: 0 10px;
  color: #ffffff;
  width: max-content;
}
.navMenu .cobaSekarang {
  color: #3f497f;
  padding: 7px 15px;
  background-color: #fff;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.4s;
  margin-right: 70px;
}
.navMenu .cobaSekarang:hover {
  background-color: #ffc017;
}
.navMenu .navMenu-cont a {
  transition: 0.2s;
}
.navMenu .navMenu-cont a:hover {
  opacity: 0.5;
}
#hamburger-menu {
  display: none;
}

main {
  background-color: #fbfbfb;
}

#hero {
  /* width: 100%; */
  height: 88vh;
  background-color: #ffc017;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -999;
}
.circle {
  height: 90vh;
  width: 90vh;
  background-color: #fbfbfb;
  border-radius: 50%;
  position: absolute;
  bottom: -30vmin;
  left: 10vmax;
  z-index: 0;
}

.human {
  /* width: 1100px; */
  width: 90vmax;
  height: auto;
  position: relative;
  /* position: absolute; */
  bottom: -10vmin;
  /* display: none; */
}
.hero-desc {
  /* border: 1px solid red; */
  position: absolute;
  right: 10vmax;
  top: 20vmin;
  width: 40vw;
  margin: 10px;
  text-align: justify;
}
/* .hero-desc:after {
  content: "";
  display: inline-block;
  width: 100%;
} */
.title {
  /* border: 1px solid red; */
  text-align: justify;
  line-height: 1.3em;
  font-size: 3em;
}
.title:after {
  content: "";
  display: inline-block;
  /* width: 100%; */
}
.sub-title {
  font-weight: 600;
  line-height: 1.3em;
  margin: 10px 0;
  font-size: 25px;
}
.desc {
  margin: 20px 0;
  font-size: 20px;
  line-height: 2em;
  font-weight: 400;
  margin-bottom: 30px;
}
.desc-mobile {
  display: none;
}
.cobaSekarang-hero {
  /* color: #3f497f; */
  padding: 10px 40px;
  color: #fff;
  background-color: #3f497f;
  border: 4px solid #3f497f;

  border-radius: 50px;
  text-decoration: none;
  transition: 0.4s;
  font-size: 16px;
  font-size: 2.2vmin;
  font-weight: bold;
}
.cobaSekarang-hero:hover {
  background-color: #fff;
  color: #3f497f;
}
.cobaSekarang-hero-mobile {
  display: none;
}
.hero-logo {
  /* border: 1px solid red; */
  width: 100%;
  height: 15vh;
  background-color: #3f497f;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#hero .hero-logo img {
  width: auto;
  height: 70%;
  margin: 0 10em;
}

article {
  z-index: 99;
  left: 0;
  right: 0;
  height: auto;
  /* height: 100vh; */
  background-color: #3f497f;
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  /* border: 1px solid red; */
}
article h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2em;
}
article p {
  /* border: 1px solid red; */
  width: 70%;
  line-height: 37px;
  font-size: 1.3em;
  font-weight: 200;
  text-align: justify;
  margin-bottom: 10vh;
}
.contact {
  text-align: center;
  margin: 40px;
}
.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}
.containerKontakKiri {
  display: flex;
  margin-bottom: 30px;
  /* position: relative; */
  /* top: -150px; */
  /* border: 1px solid red; */
  /* height: 100px; */
}
.gmail-icon {
  height: 3.5em; /* sesuaikan tinggi logo */
  vertical-align: middle; /* membuat logo sejajar dengan teks */
  margin-right: 20px; /* sesuaikan jarak antara logo dan teks */
}
.containerKontakKiri p {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 500;
}
.containerKontakKanan {
  /* border: 1px solid red; */
  /* height: 100px; */
}
form {
  /* margin: 0 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.7em;
}
form input,
form textarea {
  box-shadow: 5px 5px 8px #888888;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  padding-left: 3em;
  padding-right: 3em;
  text-align: justify;
  border: 0;
  color: #606468;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.5px;
}
form ::placeholder {
  color: #606468;
  font-weight: 400;
  /* font-size: 1.2em; */
  opacity: 0.6;
}
form input {
  width: 45vw;
  height: 7vh;
}
form textarea {
  width: 45vw;
  height: 30vh;
  padding-top: 0.6em;
  resize: none;
}
form button {
  font-size: 1em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 8em;
  height: 3em;
  color: #fbfbfb;
  background-color: #3f497f;
  transition: 0.4s;
  /* border: 1px solid blue; */
  border: 4px solid #3f497f;
  margin-top: 10px;
  /* margin-bottom: 50px; */
  letter-spacing: 1px;
  padding: 0px;
  cursor: pointer;
  /* padding-top: 2.5vh; */
  border-radius: 20px;
}
form button:hover {
  /* background-color: rgba(255, 0, 0, 0.6); */
  background-color: #fbfbfb;
  color: #3f497f;
}

footer {
  height: 292px;
  width: 100%;
  background-color: #3f497f;
  z-index: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.containerKiri {
  /* border: 1px solid red; */
  color: white;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.containerKiri a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 15px;
  margin: 10px;
  margin-top: 20px;
}
.containerKanan {
  /* border: 1px solid red; */
  /* width: 70vw; */
  color: white;
  font-weight: 300;
  font-size: 15px;
}
.containerKanan p {
  margin: 10px;
}
.bold {
  font-weight: 600;
}
.bolder {
  font-weight: bolder;
}
/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1025px) {
  html {
    font-size: 62.5%;
  }

  * {
    scroll-padding-top: 20vmin; /* 10height of sticky header */
  }
  html {
    font-size: 55%;
    overflow-x: hidden;
  }
  #hamburger-menu {
    display: inline-block;
    color: white;
    margin-left: 30px;
    height: 4em;
    width: 4em;
  }
  .logo {
    font-size: 3em;
    margin: 0 30px;
  }
  .cobaSekarang {
    display: none;
  }
  nav {
    height: 10vmin;
  }

  .navbar {
    justify-content: left;
  }
  .navbar-nav {
    position: absolute;
    top: 10vmin;
    left: -100%;
    /* left: -0%; */
    background-color: #3f497f;
    width: 70vw;
    height: 100vh;
    z-index: 10;
    transition: 0.3s;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav.active {
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .navMenu {
    gap: 0;
  }
  nav .navMenu .navMenu-cont {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    /* align-items: center; */
  }
  nav .navMenu .navMenu-cont a {
    margin: 34px 0px;
    font-size: 3vmin;
    width: max-content;
  }

  main {
    background-color: #fbfbfb;
  }

  #hero {
    height: 50vh;
  }
  .circle {
    height: 50vh;
    width: 50vh;
    background-color: #fbfbfb;
    border-radius: 50%;
    position: absolute;
    top: 27vmax;
    left: 2vmax;
    z-index: 0;
  }

  .human {
    width: 120vmin;
    height: auto;
    position: relative;
    /* position: absolute; */
    bottom: -14vmin;
    left: -17vmin;
    /* display: none; */
  }
  .hero-desc {
    /* border: 1px solid red; */
    position: absolute;
    right: 3vmax;
    top: 23vmin;
    width: 45vw;
    margin: 10px;
    text-align: justify;
  }

  .title {
    /* border: 1px solid red; */
    text-align: justify;
    line-height: 1.3em;
    font-size: 4.1em;
  }

  .sub-title {
    font-weight: 600;
    line-height: 1.3em;
    margin: 10px 0;
    font-size: 2.7em;
  }
  .desc {
    margin: 20px 0;
    font-size: 20px;
    line-height: 2em;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .cobaSekarang-hero {
    /* color: #3f497f; */
    padding: 10px 40px;
    color: #fff;
    background-color: #3f497f;
    border: 4px solid #3f497f;

    border-radius: 50px;
    text-decoration: none;
    transition: 0.4s;
    font-size: 16px;
    font-size: 2.2vmin;
    font-weight: bold;
  }
  .cobaSekarang-hero:active {
    background-color: #fff;
    color: #3f497f;
  }
  .cobaSekarang-hero-mobile {
    display: none;
  }
  .hero-logo {
    /* border: 1px solid red; */
    width: 100%;
    height: 15vh;
    background-color: #3f497f;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #hero .hero-logo img {
    width: auto;
    height: 70%;
    margin: 0 10em;
  }

  article h1 {
    margin-top: 5vh;
    margin-bottom: 30px;
    font-size: 2vmin;
  }
  article p {
    /* border: 1px solid red; */
    width: 80%;
    line-height: 37px;
    font-size: 1.5em;
    font-weight: 200;
    text-align: justify;
    margin-bottom: 5vh;
  }

  .contact {
    font-size: 2vmin;
    margin-top: 1.6em;
    margin-bottom: 0.8em;
  }
  .contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin: 0;
    flex-wrap: wrap;
  }
  .containerKontakKiri {
    display: flex;
    /* margin-bottom: 30px; */
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    margin-top: 0;
    margin: 0;
    /* border: 10px solid red; */
    /* height: 100px; */
  }
  .gmail-icon {
    width: 3vh;
    height: auto;
    margin: 0;
  }
  .containerKontakKiri p {
    font-size: 1.7em;
    margin-bottom: 2em;
  }
  .containerKontakKiri b {
    display: none;
  }
  form {
    gap: 1.5em;
  }
  form input,
  form textarea {
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 600;
    font-size: 1.7em;
    letter-spacing: 0px;
    width: 60vw;
  }
  form ::placeholder {
    color: #606468;
    font-weight: 400;
    /* font-size: 1.2em; */
    opacity: 0.6;
  }
  form input {
    height: 3em;
  }
  form textarea {
    height: 15vh;
    padding-top: 0.6em;
    resize: none;
  }
  form button {
    font-size: 1.4em;
    font-weight: 700;
    width: 11em;
    height: 3.5em;
    color: #fbfbfb;
    background-color: #3f497f;
    /* margin-bottom: 50px; */
    letter-spacing: 1px;
    padding: 0px;
    cursor: pointer;
    /* padding-top: 2.5vh; */
    border-radius: 20px;
    margin-top: 1.8em;
    margin-bottom: 6em;
  }
  /* Footer start */
  footer {
    height: 200px;
    width: 100%;
    background-color: #3f497f;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
  }
  /* Footer end */
}

/* Mobile Phone */
@media screen and (max-width: 600px) {
  * {
    scroll-padding-top: 20vmin; /* 10height of sticky header */
  }
  html {
    font-size: 55%;
    overflow-x: hidden;
  }
  #hamburger-menu {
    display: inline-block;
    color: white;
    margin-left: 20px;
  }
  .logo {
    font-size: 1.9em;
  }
  .cobaSekarang {
    display: none;
  }
  nav {
    height: 15vmin;
  }
  .navbar {
    justify-content: left;
  }
  .navbar-nav {
    position: absolute;
    top: 15vmin;
    left: -100%;
    /* left: -0%; */
    background-color: #3f497f;
    width: 70vw;
    height: 100vh;
    z-index: 10;
    transition: 0.3s;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav.active {
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .navMenu {
    gap: 0;
  }
  nav .navMenu .navMenu-cont {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    /* align-items: center; */
  }
  nav .navMenu .navMenu-cont a {
    margin: 34px 0px;
    font-size: 2em;
  }
  .hero-logo {
    display: none;
  }

  #hero {
    height: 50vh;
    /* width: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -999;
    overflow-x: hidden;
  }
  .hero-desc {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    position: absolute;
    /* right: -5vmax; */
    left: 9vmax;
    top: 27vmin;
    width: 74vmin;
    margin: 0;
  }
  .title {
    line-height: 1.5em;
    font-size: 2.6em;
    font-size: 7vmin;
  }
  .sub-title {
    font-weight: 400;
    line-height: 1.3em;
    margin: 0;
    font-size: 20px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
  }
  .desc {
    margin: 20px 0;
    font-size: 20px;
    line-height: 2em;
    font-weight: 400;
    margin-bottom: 30px;
    display: none;
    /* background-color: #fbfbfb; */
  }
  .desc-mobile-container {
    background-color: white;
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .desc-mobile {
    display: inline-block;
    font-size: 18px;
    /* border: 1px solid red; */
    margin: auto 5vw;
    text-align: justify;
    line-height: 1.3em;
  }
  .cobaSekarang-hero {
    display: none;
  }
  .cobaSekarang-hero-mobile {
    display: inline-block;
    padding: 10px 40px;
    color: #fff;
    background-color: #3f497f;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.4s;
    font-size: 5vmin;
    font-weight: bold;
    position: relative;
    top: -10vmin;
  }
  .human {
    /* width: 1100px; */
    width: 150vw;
    height: auto;
    position: absolute;
    top: 50vmin;
    left: -20vmin;
    /* display: none; */
  }
  .circle {
    height: 35vh;
    width: 35vh;
    background-color: #fbfbfb;
    border-radius: 50%;
    position: absolute;
    top: 75vmin;
    left: 2vmax;
    z-index: 0;
    /* display: none; */
  }
  article {
    height: auto;
    overflow: hidden;
    padding: 10px 0;
  }
  article h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2em;
  }
  article p {
    /* border: 1px solid red; */
    width: 80%;
    line-height: 34px;
    font-size: 18px;
    font-weight: 200;
    text-align: justify;
  }
  .contact {
    font-size: 2em;
    margin-top: 1.6em;
    margin-bottom: 0.8em;
  }
  .contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin: 0;
    flex-wrap: wrap;
  }
  .containerKontakKiri {
    display: flex;
    /* margin-bottom: 30px; */
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    margin-top: 0;
    margin: 0;
    /* border: 10px solid red; */
    /* height: 100px; */
  }
  .gmail-icon {
    width: 5vh;
    height: auto;
    margin: 0;
  }
  .containerKontakKiri p {
    font-size: 1.5em;
    margin-bottom: 2em;
  }
  .containerKontakKiri b {
    display: none;
  }

  form {
    gap: 1.5em;
  }
  form input,
  form textarea {
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: 0px;
  }
  form ::placeholder {
    color: #606468;
    font-weight: 400;
    /* font-size: 1.2em; */
    opacity: 0.6;
  }
  form input {
    width: 75vw;
    height: 3em;
  }
  form textarea {
    width: 75vw;
    height: 30vh;
    padding-top: 0.6em;
    resize: none;
  }
  form button {
    font-size: 1.4em;
    font-weight: 700;
    width: 15vh;
    height: 5vh;
    color: #fbfbfb;
    background-color: #3f497f;
    /* margin-bottom: 50px; */
    letter-spacing: 1px;
    padding: 0px;
    cursor: pointer;
    /* padding-top: 2.5vh; */
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 1.3em;
  }
  /* Footer start */
  footer {
    height: 292px;
    width: 100%;
    background-color: #3f497f;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  /* Footer end */
}
