html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%;
  font: inherit; */
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fbfbfb;

  /* padding: 20px; */
}

/* Navigation */
nav {
  width: 100%;
  height: 10vmin;

  background-color: #3f497f;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hamburger-menu {
  display: none;
}
.logo {
  color: #fbfbfb;
  margin-left: 5%;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
}

nav .navMenu {
  /* border: 1px solid red; */
  margin-right: 5%;
  width: 41vw;
  display: flex;
  gap: 5vmax;
  justify-content: end;
}
nav .navMenu a {
  font-size: 14px;
}
nav .navMenu .navMenu-cont {
  /* border: 1px solid red; */
  /* width: 10vmax;  */
}
nav .navMenu .navMenu-cont a {
  text-decoration: none;
  margin: 0 10px;
  color: #ffffff;
}
.navMenu .cobaSekarang {
  color: #3f497f;
  padding: 7px 15px;
  background-color: #fff;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.4s;
}
.navMenu .cobaSekarang:hover {
  background-color: #ffc017;
}
.navMenu .navMenu-cont a {
  transition: 0.2s;
}
.navMenu .navMenu-cont a:hover {
  opacity: 0.5;
}
main {
  background-color: #fbfbfb;
}

#hero {
  width: 100%;
  height: 88vh;
  background-color: #ffc017;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -999;
}
.circle {
  height: 90vh;
  width: 90vh;
  background-color: #fbfbfb;
  border-radius: 50%;
  position: absolute;
  bottom: -10vmin;
  left: 10vmax;
  z-index: 0;
}

.human {
  /* width: 1100px; */
  width: 80vw;
  height: auto;
  position: absolute;
  bottom: 0;
  /* display: none; */
}
.hero-desc {
  /* border: 1px solid red; */
  position: absolute;
  right: 10vmax;
  top: 20vmin;
  width: 40vw;
  margin: 10px;
}
.title {
  line-height: 1.3em;
  font-size: 3em;
}
.sub-title {
  font-weight: 600;
  line-height: 1.3em;
  margin: 10px 0;
  font-size: 25px;
}
.desc {
  margin: 20px 0;
  font-size: 20px;
  line-height: 2em;
  font-weight: 400;
  margin-bottom: 30px;
}
.cobaSekarang-hero {
  /* color: #3f497f; */
  padding: 10px 40px;
  color: #fff;
  background-color: #3f497f;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.4s;
  font-size: 16px;
  font-weight: bold;
}
.hero-logo {
  /* border: 1px solid red; */
  width: 100%;
  height: 15vh;
  background-color: #3f497f;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#hero .hero-logo img {
  width: auto;
  height: 70%;
  margin: 0 10em;
}

article {
  z-index: 99;
  width: 100%;
  height: 100vh;
  background-color: #3f497f;
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
}
article h1 {
  margin-bottom: 50px;
  font-size: 2em;
}
article p {
  /* border: 1px solid red; */
  width: 70%;
  line-height: 34px;
  font-size: 1.3em;
  font-weight: 200;
  text-align: justify;
}
.contact {
  text-align: center;
  margin: 40px;
}
.contactSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
.containerKontakKiri {
  display: flex;
  /* margin-bottom: 30px; */
  position: relative;
  top: -150px;
  /* border: 1px solid red; */
  /* height: 100px; */
}
.gmail-icon {
  height: 3.5em; /* sesuaikan tinggi logo */
  vertical-align: middle; /* membuat logo sejajar dengan teks */
  margin-right: 20px; /* sesuaikan jarak antara logo dan teks */
}
.containerKontakKiri p {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 500;
}
.containerKontakKanan {
  /* border: 1px solid red; */
  /* height: 100px; */
}
form {
  /* margin: 0 100px; */
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 0.7em;
}
form input,
form textarea {
  box-shadow: 5px 5px 8px #888888;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  padding-left: 3em;
  padding-right: 3em;
  text-align: justify;
  border: 0;
  color: #606468;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.5px;
}
form ::placeholder {
  color: #606468;
  font-weight: 400;
  /* font-size: 1.2em; */
  opacity: 0.6;
}
form input {
  width: 45vw;
  height: 7vh;
}
form textarea {
  width: 45vw;
  height: 30vh;
  padding-top: 0.6em;
  resize: none;
}
form button {
  font-size: 1em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20vh;
  height: 7vh;
  color: #fbfbfb;
  background-color: rgba(255, 0, 0, 0);
  background-color: #3f497f;
  transition: 0.3s;
  /* border: 1px solid blue; */
  border: 0;
  margin-top: 10px;
  /* margin-bottom: 50px; */
  letter-spacing: 1px;
  padding: 0px;
  cursor: pointer;
  /* padding-top: 2.5vh; */
  border-radius: 20px;
}
form button:hover {
  /* background-color: rgba(255, 0, 0, 0.6); */
}

footer {
  height: 292px;
  width: 100%;
  background-color: #3f497f;
  z-index: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.containerKiri {
  /* border: 1px solid red; */
  color: white;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.containerKiri a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 15px;
  margin: 10px;
  margin-top: 20px;
}
.containerKanan {
  /* border: 1px solid red; */

  color: white;
  font-weight: 300;
  font-size: 15px;
}
.containerKanan p {
  margin: 10px;
}
.bold {
  font-weight: 600;
}
.bolder {
  font-weight: bolder;
}
