html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%;
  font: inherit; */
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  font-family: "Poppins", sans-serif;
}
html {
  /* overflow-x: hidden; */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 20px; */
} /* Navigation */
nav {
  top: 0;
  left: 0;
  right: 0;
  height: 10vmin;
  border-bottom: 2px solid black;

  background-color: #3f497f;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}
.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid green; */
  /* width: 100vh; */
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  color: #fbfbfb;
  /* margin-left: 5%; */
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
}
.nav-logo {
  height: 1.2em;
}
.yellow {
  color: #ffc017;
}

nav .navMenu {
  /* border: 1px solid red; */
  /* width: 41vw; */
  display: flex;
  gap: 5vmax;
  /* justify-content: end; */
}
nav .navMenu a {
  font-size: 14px;
}
nav .navMenu .navMenu-cont {
  /* border: 1px solid red; */
  /* width: 10vmax;  */
}
nav .navMenu .navMenu-cont a {
  text-decoration: none;
  margin: 0 10px;
  color: #ffffff;
  width: max-content;
}
.navMenu .cobaSekarang {
  color: #3f497f;
  padding: 7px 15px;
  background-color: #fff;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.4s;
  margin-right: 70px;
}
.navMenu .cobaSekarang:hover {
  background-color: #ffc017;
}
.navMenu .navMenu-cont a {
  transition: 0.2s;
}
.navMenu .navMenu-cont a:hover {
  opacity: 0.5;
}
#hamburger-menu {
  display: none;
}

main {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  right: 0;
  font-size: 20px;
}

.hasil {
  /* font-size: 1.9em; */
  font-size: 30px;
}

main h4 {
  font-weight: 400;
  line-height: 1.6em;
  /* font-size: 1.4em; */
  margin: 40px 0;
  text-align: center;
}
main p {
  font-weight: 400;
  line-height: 1.5em;
  /* font-size: 1.5em; */
}
.advice-num {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid red; */
}

.nomor {
  background-color: #3f497f;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 1px;
  font-size: 20px;
  color: white;
  /* background: #fff; */
  text-align: center;
  display: inline-block;
}

.smaller {
  /* font-size: 1.2em; */
}
b {
  font-weight: 700;
}
.containerBig,
.containerSmall {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  /* gap: 1em; */
}
.containerBig .kiwi,
.containerBig .alpukat,
.containerBig .pir,
.containerBig .apel,
.containerBig .pepaya,
.containerBig .merah,
.containerBig .almond,
.containerBig .mete,
.containerBig .hijau,
.containerBig .pistachio,
.containerBig .tali,
.containerBig .yoga,
.containerBig .fitness,
.containerBig .sepeda,
.containerBig .jogging {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
}
.containerBig img {
  height: 8em;
  padding: 10px;
  margin: 10px;
  /* border: 1px solid red; */
}
.containerBig span {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
  /* border: 1px solid red; */
  position: relative;
}
.containerBig .child {
  /* font-size: 1.2em; */
}
.containerSmall img {
  height: 5em;
  /* padding: 10px; */
  margin: 10px 0;
}

summary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85vw;
  /* margin: 60px 0; */
}
summary .sum {
  text-align: justify;
  /* margin: 20px 0; */
  /* margin-top: 50px; */
}
.sum p:nth-child(1) {
  text-align: center;
}

.backBeranda {
  font-size: 18px;
  width: 250px;
  color: white;
  background-color: #3f497f;
  font-weight: 600;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 50px;
  margin: 30px;
  text-decoration: none;
  text-align: center;
}
footer {
  height: 292px;
  width: 100%;
  background-color: #3f497f;
  z-index: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.containerKiri {
  /* border: 1px solid red; */
  color: white;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.containerKiri a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 15px;
  margin: 10px;
  margin-top: 20px;
}
.containerKanan {
  /* border: 1px solid red; */
  /* width: 70vw; */
  color: white;
  font-weight: 300;
  font-size: 15px;
}
.containerKanan p {
  margin: 10px;
}
.bold {
  font-weight: 600;
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1025px) {
  html {
    font-size: 62.5%;
  }
  * {
    scroll-padding-top: 20vmin; /* 10height of sticky header */
  }
  html {
    font-size: 55%;
    overflow-x: hidden;
  }
  #hamburger-menu {
    display: inline-block;
    color: white;
    margin-left: 30px;
    height: 4em;
    width: 4em;
  }
  .logo {
    font-size: 3em;
    margin: 0 30px;
  }
  .cobaSekarang {
    display: none;
  }
  nav {
    height: 10vmin;
  }

  .navbar {
    justify-content: left;
  }
  .navbar-nav {
    position: absolute;
    top: 10vmin;
    left: -100%;
    /* left: -0%; */
    background-color: #3f497f;
    width: 70vw;
    height: 100vh;
    z-index: 10;
    transition: 0.3s;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav.active {
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .navMenu {
    gap: 0;
  }
  nav .navMenu .navMenu-cont {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    /* align-items: center; */
  }
  nav .navMenu .navMenu-cont a {
    margin: 34px 0px;
    font-size: 3vmin;
  }
  br {
    display: none;
  }
  main h4 {
    font-weight: 400;
    line-height: 1.6em;
    /* font-size: 1.4em; */
    margin: 40px 25px;
    text-align: center;
    /* border: 1px solid red; */
  }
  .advice {
    margin: 0 25px;
  }
  .advice-num {
    margin-top: 15px;
  }
  .containerSmall {
    gap: 0.6em;
  }

  .containerBig img {
    height: 6em;
    padding: 5px;
    margin: 5px;
    /* border: 1px solid red; */
  }
  summary p {
    text-align: justify;
  }

  .backBeranda {
    font-size: 18px;
    width: 250px;
    color: white;
    background-color: #3f497f;
    font-weight: 600;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
    margin: 30px;
    text-decoration: none;
    text-align: center;
  }

  /* Footer start */
  footer {
    height: 200px;
    width: 100%;
    background-color: #3f497f;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
  }
  /* Footer end */
}
/* Mobile Phone */
@media screen and (max-width: 600px) {
  * {
    scroll-padding-top: 20vmin; /* 10height of sticky header */
  }
  html {
    font-size: 55%;
    overflow-x: hidden;
  }
  #hamburger-menu {
    display: inline-block;
    color: white;
    margin-left: 20px;
  }
  .logo {
    font-size: 1.9em;
  }
  .cobaSekarang {
    display: none;
  }
  nav {
    height: 15vmin;
  }
  .navbar {
    justify-content: left;
  }
  .navbar-nav {
    position: absolute;
    top: 15vmin;
    left: -100%;
    /* left: -0%; */
    background-color: #3f497f;
    width: 70vw;
    height: 100vh;
    z-index: 10;
    transition: 0.3s;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav.active {
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .navMenu {
    gap: 0;
  }

  nav .navMenu .navMenu-cont {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    /* align-items: center; */
  }
  nav .navMenu .navMenu-cont a {
    margin: 34px 0px;
    font-size: 2em;
    width: max-content;
  }
  br {
    display: none;
  }
  main h4 {
    font-weight: 400;
    line-height: 1.6em;
    /* font-size: 1.4em; */
    margin: 40px 25px;
    text-align: center;
    /* border: 1px solid red; */
  }
  .advice {
    margin: 0 25px;
  }

  .containerBig img {
    height: 6em;
    padding: 5px;
    margin: 5px;
    /* border: 1px solid red; */
  }
  summary p {
    text-align: justify;
  }

  .backBeranda {
    font-size: 18px;
    width: 250px;
    color: white;
    background-color: #3f497f;
    font-weight: 600;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
    margin: 30px;
    text-decoration: none;
    text-align: center;
  }

  /* Footer start */
  footer {
    height: 292px;
    width: 100%;
    background-color: #3f497f;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
  /* Footer end */
}
